.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 150px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background:linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    /* background: blue; */
   

}

.hero-resume {
    padding: 25px 65px;
    border-radius: 50px;
    border: 2px solid #ffff;
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid #ffff;
}

.hero-resume:hover {
    background: linear-gradient(264deg, #DF8908 -5.1%, #B415FF 106.28%);
}

@media(max-width: 768px) {
    .hero img {
        margin-top: 120px;
        width: 260px;
    }

    .hero h1  {
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }

    .hero p {
        width: 60%;
        font-size: 20px;
        line-height: 30px;
        margin: 10px 0px;
    }


    .hero-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 60px;
    }

    .hero-connect {
        padding: 20px 30px;
        border-radius: 40px;
    }

    .hero-resume {
        padding: 20px 60px;
        border-radius: 40px;
    }
}