.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.mywork-title {
    position: relative;
}

.mywork-title h1 {
    padding: 0px;
    font-size: 80px;
    font-weight: 500;
}

.mywork-title img {
    position: absolute;
    bottom: 10px;
    right: 0px;
    z-index: -1;
}

.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 50px;
}

.mywork-container img {
    box-sizing: border-box;
    width: 600px;
    transition: 0.3s;
    cursor: pointer;
}

.mywork-container img:hover {
    transform: scale(1.05);
    border: none;
    border-radius: 10px;
    transition: 2s ease-in-out;
}

.mywork-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 40px;
    /* transition: 0.7s; */
    margin-bottom: 70px;
}

.mywork-showmore:hover {
    background: linear-gradient(267deg, #DF8908 10%, #B415FF 100%);
    cursor: pointer;
    transform:scale(1.2);
    transition: 3s ease-in-out;
    
}

