.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px; 
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0px 30px;
    font-size: 45px;
    font-weight: 600;
    margin-left: -22px;
    margin-bottom: -5px;
}

.about-title img {
    position: absolute;
    bottom: 0;
    z-index: -5;

}

.about-sections {
    display: flex;
    gap: 80px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 400;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill{
      display: flex;
      gap: 50px;
      align-items: center;
      transition: 0.3s;
}

.about-skill p {
    min-width: 150px;
    font-size: 22px;
    font-weight: 400;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
    
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 29px;
    font-weight: 600;
    background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 106.09%);
    /* border-radius: 50px; */
    /* padding: 5px 10px; */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.achieve-hr {
    background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 106.09%);
    height: 2px;
    width: 80px;
    outline: none;
    border: none;
    margin-top: 50px;
    border-radius: 50px;
    transform:rotate(90deg)
}

.about-achievement p {
    font-size: 22px;
    font-weight: 400;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

.about-achievement:hover {
    transform: scale(1.12);
    transition: 2s ease-in-out;
    cursor: pointer;
}

@media(max-width:768px) {
    .about {
        gap: 80px;
        margin: 50px 70px;
        align-items:start;
        
    }

    .about-title h1 {
        font-size: 50px;
        padding: 0;
    }
     

    .about-title img {
        width: 130px;
        right: -20px;
    }


    .about-right {
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 600px;

    }

    .about-paragraph p {
        font-size: 15px;
        width: 90%;
        text-align: start;
    }

    .about-paragraph-2 {
        margin-top: -20px;
    }

    .about-skills {
        display: flex;
        margin-top: 100px;
        width: 90%;
        
    }

    .about-skill {
        gap: 1px;
    }

    .about-skill p {
        font-size: 17px;
    }

   .about-achievements {
       margin-top: 90px;

   }

   .about-achievement p {
         font-size: 15px;
   }

   .about-achievement h1 {
     font-size: 22px;
   }



   

   
}