.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 500;
}

.contact-title img {
    position: absolute;
    bottom: 23px;
    right: 15px;
    z-index: -1;
}

.contact-section  {
    display: flex;
    gap: 150px;

}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 65px;
    font-weight: 600;
    background: linear-gradient(264deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 550px;
    /* color: rgb(255, 255, 220); */
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 35px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: rgb(255, 255, 220);
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 23px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-right input {
    border: none;
    width: 780px;
    height: 78px;
    background: #32323c;
    color: #A0A0A0;
    font-size: 18px;
    outline: none;
    border-radius: 4px;
    padding: 10px 20px;
}

.contact-right textarea {
    width: 650px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    padding: 10px 20px;
    font-size: 18px;
}

.contact-right label {
     color: rgb(255, 255, 255);
     font-size: 22px;
     font-weight: 400;
}

.contact-submit {
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    background: linear-gradient(267deg, #DF8908 10%, #B415FF 100%);
    padding: 20px 50px;
    margin-bottom: 60px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}