.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.footer-top {
      display: flex;
      justify-content: space-between;
}

.footer-top-left p {
     font-size: 17px;
     max-width: 300px;
}

.footer-top-right {
    display: flex;
    gap: 40px;
    align-items: center;
}


.footer-email-input {
     display: flex;
     gap: 30px;
     padding: 20px 30px;
     border-radius: 50px;
     background: #32323B;
     padding-right: 10px;
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-size: 18px;
}

.footer-subscribe {
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 50px;
    /* border: 2px solid white; */
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106%);
    cursor: pointer;
    transition: 1s;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    margin-bottom: 60px;
}

.footer-bottom-right {
    display: flex;
    gap: 25px;
   
}

.hr-footer {
    height: 2px;
    width: 100%;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 105.6%);
    border: none;
    outline: none;
}

.footer-email-input:hover {
     border: 2px solid #ffff;
}

.footer-subscribe:hover {
    transform: scale(1.05);
    transition: 0.3s;

}






























